

.modal__close-btn{
    -webkit-tap-highlight-color: transparent;
}
.modal__close-btn.animating{
    -webkit-animation: bounce 300ms ease-out;
            animation: bounce 300ms ease-out;
}


.modal--zoom-in, 
.modal--zoom-in--invisible{
    z-index: -100;
    transform: scale(1.1);
    opacity: 0;
    transition: all 0.3s, z-index 0s;
    transform: translate3d(0, 120px, 0);
}
.modal--zoom-in--visible{
    z-index: 100;
    transform: scale(1);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all 0.3s, z-index 0s;
}



.modal__inner-container{
    padding-top: 1rem;
    max-width: 85vw;
}
.modal__outer-container{
	background-color: rgba(255, 255, 255, .15);
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
}

@-webkit-keyframes zoom-in {
    0% {
        z-index: 100;
        opacity: 0;
        transform: scale(1.5);
    }
    1% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoom-in {
    0% {
        z-index: 100;
        opacity: 0;
        transform: scale(1.5);
    }
    1% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes zoom-out {
    0% {
        transform: scale(1);
        opacity: 1;
        z-index: 100;
    }
    30% {
        transform: scale(1.1);
        opacity: 0.5;
        z-index: 100;
    }
    99% {
        transform: scale(1.1);
        opacity: 0;
        z-index: 100;
    }
    100% {
        z-index: -100;
    }
}
@keyframes zoom-out {
    0% {
        transform: scale(1);
        opacity: 1;
        z-index: 100;
    }
    30% {
        transform: scale(1.1);
        opacity: 0.5;
        z-index: 100;
    }
    99% {
        transform: scale(1.1);
        opacity: 0;
        z-index: 100;
    }
    100% {
        z-index: -100;
    }
}
@-webkit-keyframes bounce {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(.95);
    }
    85% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    35% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(.95);
    }
    85% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}





/* .container-frozen {
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(5px);
} */















/* @keyframes bounce-src {
    0% {
      transform: scale(1);
    }
    35% {
      transform: scale(1.15);
    }
    75% {
      transform: scale(0.9);
    }
    90% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  } */