#login{
  grid-template: 1fr auto auto / 1fr;
}


.new-user-container{
  background: transparent;
  padding: 1rem;
}
.new-user{
  width: 350px;
  max-width: min(100%, 80vw);
  box-shadow: 2px 2px 10px -2px #36369a;
  border: 1px solid #ababd8;
  background: white;
}
.new-user .btn{
  padding: .3rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 45px;
  flex: 1 1 10px;
}

.logo-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  border: 2px solid #ccc;
  /* box-shadow: 0px 0px 5px 0px #ccc; */
  box-shadow: 0px 0px 5px 0px rgba(44, 89, 172, .5);
}

.grid-item{
  outline: 1px solid #fafafa;
  transition: opacity .2s, background-color .2s;
}
.grid-item.logo-bg{
  background-color: #ddd;
}
.grid-item.logo-bg.logo-snake{
  background-color: #2C59AC;
  background-color: var(--secondary-500);
  opacity: attr(data-grid);
}


#login .input-with-moving-label {
  --color: #e87c66;
  --color: var(--primary-500);
}