#login{
  /* grid-template: 1fr auto auto / 1fr; */
}


.new-user-container{
  background: transparent;
  padding: 1rem;
}
.new-user{
  width: 350px;
  max-width: min(100%, 80vw);
  box-shadow: 2px 2px 10px -2px #36369a;
  border: 1px solid #ababd8;
  background: white;
}
.new-user .btn{
  padding: .3rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 45px;
  flex: 1 1 10px;
}



.logo-inner-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  border: 2px solid #ccc;
  /* box-shadow: 0px 0px 5px 0px #ccc; */
  box-shadow: 0px 0px 5px 0px rgba(44, 89, 172, .5);
  height: 100%;
  flex: 1 1 auto;
}
@media(min-width: 1024px){
  .logo-inner-container{
    max-height: 800px;
  }
}
.grid-item{
  outline: 1px solid #fafafa;
  transition: opacity .2s, background-color .2s;
}
.grid-item.logo-bg{
  background-color: #ddd;
}
.grid-item.logo-snake,
.grid-item.is-of-body{
  background-color: #2C59AC;
  background-color: var(--secondary-500);
  opacity: attr(data-grid);
}


#login .input-with-moving-label {
  --color: #e87c66;
  --color: var(--primary-500);
}




#login .input-with-moving-label.invalid::after{
  background-color: #dc5959;
}
#login .input-with-moving-label.invalid label{
  animation: shake linear 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
@keyframes shake{
  0% {
    transform:  translate(0px,0px)  ;
  }
  2% {
    transform:  translate(-5px,0px)  ;
  }
  4% {
    transform:  translate(5px,0px)  ;
  }
  6% {
    transform:  translate(-5px,0px)  ;
  }
  8% {
    transform:  translate(5px,0px)  ;
  }
  10%{
    transform:  translate(0px,0px);
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}
